#inputsearch {
  padding-right: 200px;
}

#btnsearch {
  margin-left: -50px;
  margin-bottom: 5px;
}

#login {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav {
  color: white;
  font-weight: bold;
}

form input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidenav {
  margin-left: -15px;
}

#cart {
  margin-left: 40px;
}